#btn, .section > select {
    margin-right: 10px;
}

.section > input{
    margin: 0 0 10px;
}

.section{
    padding: 10px 25px;
}

#helper-text{
    color: #017c86;
}

label {
    color: #017c86;
}

select{
    width: 100%;
}