body{
    width: 250px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex > * {
    margin: 5px;
}

.title{
    font-size: large;
    padding: 5px;
    width: 100%;
}

textarea{
    width: 100%;
}